.full-event-page {
    background-color: #F6F7F8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-form {
    display: flex;
    width: 80%;
    /* padding-left: 100px;
    padding-right: 100px; */
    height: 2000px;
    justify-content: space-between;
}

.event-form-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 20px;
}

.event-form-right {
    width: 35%;
    /* border: 1px solid red; */
    padding: 20px;
}

.event-form-header {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);

}

.event-form-header > h1 {
    margin: 0px;
    font-size: 24px;
    line-height: 26.4px;
    color: rgb(46, 62, 72);
    font-weight: 600;
}

.event-form-header > h2 {
    margin: 0px;
    font-size: 16px;
    line-height: 23.2px;
    color: rgb(46, 62, 72);
    font-weight: 400;
}

.event-step-details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.event-step-label {
    color: rgb(46, 62, 72);
    font-size: 16px;
    font-weight: 500;
    line-height: 23.3px;
    padding-bottom: 4px;
}

.event-form-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.3px;
    border-radius: 5px;
    border: 1px solid rgba(46, 62, 72, 0.12);
    box-shadow: 0;
    color: rgb(46, 62, 72);
    cursor: text;
    /* width: 100%; */
    width: 600px;
    /* max-width: 600px; */
    padding: 16px;
    padding-right: 0px;
    padding-left: 0px;
}


.event-form-description {
    padding: 20px;
    width: 75%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    border-radius: 7px;
}

.event-form-footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 30px;
    background-color: white;
}

.day-picker-popup {
    position:absolute;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}

/* actual form (inputs, form bounds, etc) styling */

