.event-index-item {
    height: 180px;
    /* width: 309px; */
    width: 32%;
    border-radius: 3px;
    display: flex;
    margin: 1% .5%;
    background-color: grey;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(8, 2, 65, 0.37);
}

.event-index-start-date-block {
    background-color: rgb(246, 247, 248);
    border: 1px solid rgba(46, 62, 72, 0.12);
    width: 36px;
    height: 36px; 
    /* margin-left: -50px;  
    margin-top: 20px; */
    border-radius: 7px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.event-grid {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 50%;
    flex-wrap: wrap;
}

.event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.event-list > h1 {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    width: 50%;
}

.event-index-item-text > h3 {
    color: white;
    font-size: 20px;
    margin: 0;
}

.event-index-item-text > p {
    color: white;
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
}

.event-index-item-content {
    /* margin-top: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-index-item-text {
    flex-direction: column-reverse;
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
}

.find-event-wrapper {
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
}

.find-event-content {
    display:flex;
    /* width: 60%; */
    width: 980px;

    /* border: 1px solid red; */
}

.find-event-left {
    width: 70%;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    /* border: 1px solid green; */
}

.find-event-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    /* border: 1px solid blue; */
}

.find-event-calendar {
    border: 1px solid rgba(0,0,0,.12);
    background-color: white;
    padding: 5px;
}

.find-event-mode {
    background-color: #EDEEFA;
    border: 1px solid rgba(0,0,0,.12);
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    color: #1F27CC;
    font-weight: 600;
    border-left: 5px solid #1F27CC;
}

.find-event-mode:hover {
    cursor: pointer;
}

.event-index-list-item-content {
    display: flex;
    align-items: baseline;
}

.event-index-list-start-time {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    width: 10%;
}

.event-index-list-item-text {
    padding-left: 15px;
    width: 90%;
    box-sizing: border-box;
}

.event-index-list-item-group-name > h4 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0 0 0;
}

.event-index-list-item-text > h3 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.event-index-list-item-text > h5 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 0 0;
}

.event-index-list-item {
    height: 0;
}

.event-index-list-item:visited {
    color: grey;
}

.event-index-list-item-events {
    border: 1px solid rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;

}

.event-index-list-item-content {
    background-color: white;
    color: grey;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    width: 100%;
    box-sizing: border-box;
}

.event-index-list-item-event-name {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
}

.event-index-list-item-event-name > h3 {
    margin: 5px 0 0 0;
}

.date-list-time {
    margin: 0;
}

.event-index-list-day-start-day > h1 {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;
}