.event-show-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-show-head-wrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);
    justify-content: center;
}

.event-show-head-start-date-block {
    background-color: rgb(246, 247, 248);
    border: 1px solid rgba(46, 62, 72, 0.12);
    width: 36px;
    height: 36px; 
    margin-left: -50px;  
    margin-top: 20px;
    border-radius: 7px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.date-block-day {
    color: #f13a59;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
}

.date-block-month {
    color: rgba(46,62,72,.6);
    font-size: 12px;
    line-height: 13.2px;
    margin: 0;
    text-transform: uppercase;
}

.event-show-head-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px;
}

.event-show-head-left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.event-show-head-start-date {
    color: rgba(46, 62, 72, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.event-show-head-title {
    color: rgb(46, 62, 72);
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.event-show-head-hosted {
    display: flex;
    margin-top: 20px;  
    align-items: center; 
}

.event-show-head-host-info {
    display: flex;
    flex-direction: column;
}

.event-show-head-hosted-by {
    color: rgb(46, 62, 72);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.event-show-head-host-name {
    color: rgb(46, 62, 72);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.avatar-event {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}


.event-show-head-right {
    display: flex;
    width: 35%;
    justify-content: center;
}

.event-show-head-rsvp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-show-rsvp-status {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.rsvp-status {
    color: rgb(46, 62, 72);
    font-size: 16px;
    font-weight: 500;
}

.event-attendee-numbers {
    color: rgba(46,62,72,.6);
    font-size: 14px;
    font-weight: 500;
}

.event-show-rsvp-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rsvp-button {
    color: white;
    background-color: rgb(0, 162, 199);
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    width: 47%;
}

.rsvp-button:hover {
    color: white;
    background-color: rgb(0, 141, 174);
    cursor: pointer;
}

.event-show-content-wrapper {
    display: flex;
    background-color: #F6F7F8;
    width: 100%;
    height: 2000px;
    justify-content: center;
}

.event-show-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px;
    margin-top: 40px;
}

.event-show-content-left-wrapper {
    display: flex;
    width: 65%;
    /* border: 1px solid red; */
}

.event-show-content-left {
    display: flex;
    flex-direction: column;
    width: 85%;
    /* border: 1px solid blue; */
    padding-right: 15%;
}
.event-picture {
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;
}
.event-picture > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.event-details {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

.event-show-label {
    color: #2e3e48;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.event-show-details {
    color: #2e3e48;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

.event-show-content-right-wrapper {
    display: flex;
    width: 35%;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    resize: none;
    align-self: flex-start;
    /* border: 1px solid red; */

}

.event-show-content-right {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    resize: none;
    width: 90%;
}



.event-card {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 7px;
}

.event-group-link {
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgb(46, 62, 72);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;    
    /* padding: 20px; */
}

.event-group-link:hover {
    cursor: pointer;
}

.event-group-picture {
    background-size: cover;
    height: 56px;
    width: 56px;
    border-radius: 7px;
    margin-right: 20px; 
}
.event-group-picture > img {
    width: 100%;
    height: 100%;
}

.event-group-name {
    margin: 0;
    color: rgb(46, 62, 72);
    font-size: 14px;
    font-weight: 500;
}

.event-organizer {

}

.event-group-info {
    padding: 20px;
}

.event-date-address{
    display: flex;
    width: 100%;
}

.event-date {
    padding: 20px;
    display: flex;
    width: 100%;
}

.event-date-clock-icon {
    width: 20px;
    height: 20px;
}

.event-side-dates {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.event-show-side-date{
    color: #2e3e48;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.event-show-side-start-date {
    margin-bottom: 5px;
}

.event-date-address-map {
    display: flex;
    flex-direction: column;
}

.event-date-address-map {

}

.event-address {

}

.event-map {
    width: 100%;
    max-height: 200px;
    margin: 0;
}