.member-home-banner {
    display: block;
    background-color: #fafafa;
}

.find-banner {
    height: 169px;
    max-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: #00455d;
}

.find-navbar-wrap {
    height: 69px;
    width: 100%;
    display: flex;
    bottom: -42px;
}

#findNavBar {
    background-color: #0f1721;
    margin: -25px auto 0px auto;
    height: 100%;
    width: 980px;
    color: white;
    display: flex;
    z-index: 3;
}

.find-search {
    margin: 15px 15px 15px 15px;
    width: 70%;
    border-radius: 4px;
    border: none;
    line-height: 1.45;
    padding: 4px;
    font-size: 14px;
}

.find-banner-text-caption {
    color: grey;
}

.banner-content-item-details {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gathring-content-item {
    margin-bottom: -10px;
}

.filter-text-div {
    display: flex;
    width: 40%;
}
.filter-text {
    font-weight: 800;
    font-size: 16px;
    align-self: center;
    width: 70%;
}

.find-button {
    height: 100%;
    width: 12.5%;
    width: 130px;
    border: 1px solid grey;
    font-size: 16px;
    background-color: #0f1721;
    color: grey;
}

.find-button:hover {
    cursor: pointer;
}

.find-button-div {
    display: flex;
    flex-direction: flex-end;
    margin: 10px;
    width: 30%;
}

.find-groups {
    border-radius: 4px 0px 0px 4px;
}

.find-selected {
    background-color: #3F454D;
    color: white;
    font-weight: 700;
}

.find-calendar {
    border-radius: 0 4px 4px 0;
}


.filter-text-div > input[type="text"] {
    background-color : #0f1721;
    color: white;
    line-height: 1.45;
    margin: 15px 0px 15px 0px;
}