.footer-stripe {
    width: 100%;
    color: white;
}

.footer-stripe-top {
    background-color: rgb(53, 62, 72);
}

.footer-stripe-bottom {
    background-color: rgb(47, 54, 63);
    height: 25px;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
}

.footer-content-new-group {
    height: 100px;
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-content-new-group > a {
    color: white;
    text-decoration: underline;
}

.footer-content-new-group > a:hover {
    color: white;
}

.footer-content-new-group > a:visited {
    color: white;
    text-decoration: underline;
}
.footer-content-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    height: 200px;
}

.footer-thank-you {
    display: flex;
    justify-content: center;
}

.footer-links-column-middle {
    display: flex;
    flex-direction: column;
}

.footer-links-column-first {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}


.footer-links-column-last {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}

.footer-links-column > h1 {
    color: #c2c4c7;
    font-size: 14px;
    line-height: 1.6;
}

.footer-img {
    width: 60px;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 7px;
}

.footer-img-angel {
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 7px;
}

.footer-img:hover {
    border-bottom: 4px solid #00a2c7;
}   

.footer-img-angel:hover {
    border-bottom: 4px solid #00a2c7;
}