.group-show-wrapper {
    color: #2e3e48;
}

.group-header-wrapper {
    border-bottom: 1px solid lightgrey;
    height: 380px;
}

/* .group-header-content {
    justify-content: space-evenly;
} */

.group-content {
    display:flex;
    width: 70vw;
    /* width: 75%; */
}

.group-name {
    margin: 0;
    margin-bottom: 20px;
}

.group-details-wrapper {
    background-color: #F6F7F8;
}

.group-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.group-header {
    padding: 20px;
    overflow: hidden;
}

.group-details > h1 {
    font-size: 32px;
    font-weight: 600px;
}

.group-details > h3 {
    font-size: 14px;
    font-weight: 400px;
}

.group-picture {
    /* overflow: hidden; */
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
}

/* label {
    width: 30%;
    height: 15%;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.6;
    border: none;
    background-color: white;
    
}

label:hover {
    cursor: pointer;
} */

.upload-group-photo {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.6;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-group-photo-form {
    width: 30%;
    height: 15%;
}

.upload-group-photo:hover {
    cursor: pointer;
}

.upload-group-photo [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}


.group-picture > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.group-actions-left {
    width: 58%;
    list-style: none;
    display: flex;
}

.group-actions-right {
    width: 42%;
}

.group-actions-left > li {
    margin: 3%;
}

.group-side-left {
    width: 58%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.group-side-right {
    width: 42%;
    display: flex;
    flex-direction: column;   
    padding: 20px;
}

.group-header-line {
    display: flex;
    align-items: center;
}

i {
    margin-right: 10px;
}

.group-header-line > h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
}

.group-header-line > h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

.organizer-info {
    height: 40px;
    display: flex;
    align-items: center;
}

.organizer-info > h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}



.fa-user-friends {
    margin-left: -.5%;
}

.avatar {
    height: 50x;
    width: 50px;
    /* background-color: #D3DAE0; */
    /* margin: 20px; */
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.group-button {
    padding: 8px 32px;
    text-align: center;
    font-size: 14px;
    height: 38px;
    width: 200px;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1.6;
    border: none;
}

.group-button:hover {
    cursor: pointer;
}

/* .manage-button {
    background: rgba(41,77,107,.12);
    color: #2e3e48;
}

.manage-button {
    background: rgba(41,77,107,.145);
}

.join-group-button {
    background: #f13a59;
    color: white;
}

.join-group-button:hover {
    background: #e81035;
} */

#leave {
    background: rgba(41,77,107,.12);
    color: #2e3e48;
}

#leave:hover {
    background: rgba(41,77,107,.145);
}

#join {
    background: #f13a59;
    color: white;
}

#join:hover {
    background: #e81035;
}

.group-actions-content {
    display: flex;
    align-items: center;
}