.Navbar {
     display: flex;
     align-items: center;
     padding: 16px;
     width: 100%;
     border-bottom: 1px solid rgba(0,0,0,0.12);
 }

#logo {
    height: 44px;
}

 #nav-links {
    width: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
 }

.new-group-login-signup {
    display: flex;
    align-items: center;
}

.new-group-link {
    padding-right: 10px;
}


 .login-signup > a:link {
    color: rgba(46,62,72,.6);
 }

 .login-signup > a:visited {
    color: rgba(46,62,72,.6);
 }

 .login-signup > a:hover {
    color: #0cbadf;
 }

 .login-signup {
     padding: 5px;
     padding-left: 13px;
     border-left: 1px solid rgba(46,62,72,.6);
 }

.new-group-link {
    color: #00a2c7;
    font-weight: 700px;
}

.new-group-link:hover {
    cursor: pointer;
    color: #00a2c7;
    font-weight: 7700px;
}

.header-group {
    display:flex;
    align-items: center;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0px 10px 0px 10px;
}

.profile-pic:hover {
    cursor: pointer;
}

.navbar-dropdown {
    z-index: 10;
    width: 400px;
    height: 3000px;
    border: 2px solid red;
}